<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
            <h1>Admin Dashboard</h1>
            <div>
                <a href="{{ url_for('leaderboard') }}" class="logout-btn">Leaderboard</a>
                <a href="{{ url_for('planet_management') }}" class="logout-btn">Planet Management</a>
                <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
            </div>
    </div>

    <div class="card">
    </div>

    <div class="card">
        <h2>Current Auction</h2>
        {% if current_planet %}
            <h3>Planet: {{ current_planet.name }}</h3>
            <img src="{{ url_for('static', filename='uploads/' + current_planet.image) }}" width="200">
            <p>{{ current_planet.description }}</p>
            <form method="post" action="{{ url_for('sell_planet') }}">
                <label for="team_name">Winning Team:</label>
                <select id="team_name" name="team_name">
                    {% for team in teams %}
                        <option value="{{ team }}">{{ team }}</option>
                    {% endfor %}
                </select>
                <label for="amount">Winning Bid:</label>
                <input type="number" id="amount" name="amount" required>
                <input type="submit" value="Sell Planet">
            </form>
        {% else %}
            <p>No planet is currently being auctioned.</p>
        {% endif %}
    </div>
    <script>
        let lastUpdate = 0;
        async function checkForUpdates() {
            const response = await fetch('/last_update');
            const latestUpdate = await response.text();
            if (lastUpdate === 0) {
                lastUpdate = latestUpdate;
            } else if (latestUpdate > lastUpdate) {
                window.location.reload();
            }
        }
        setInterval(checkForUpdates, 1000);
    </script>
</body>
</html>
