<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>{{ session.username }} <br> Credits: {{ credits }}</h1>
        <div>
            <a href="{{ url_for('settings') }}" class="logout-btn">Settings</a>
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </div>
    </div>

    <div class="container">
        <div class="card current-auction">
            <h2>Current Auction</h2>
            {% if current_planet %}
                <h3>{{ current_planet.name }}</h3>
                <img src="{{ url_for('static', filename='uploads/' + current_planet.image) }}">
                <p>{{ current_planet.description }}</p>
                <p>Current Highest Bid: {{ highest_bid.amount }} by team {{ highest_bid.team }}</p>
            {% else %}
                <p>No planet is currently being auctioned.</p>
            {% endif %}
        </div>

        <div class="owned-planets">
            <h2>Your Planets</h2>
            {% if owned_planets %}
                <div class="planet-grid">
                    {% for planet in owned_planets %}
                        <div class="planet-card">
                            <img src="{{ url_for('static', filename='uploads/' + planet.image) }}">
                            <div class="planet-card-content">
                                <h3>{{ planet.name }}</h3>
                                <p>{{ planet.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>You do not own any planets yet.</p>
            {% endif %}
        </div>
    </div>

    <script>
        let lastUpdate = 0;
        async function checkForUpdates() {
            const response = await fetch('/last_update');
            const latestUpdate = await response.text();
            if (lastUpdate === 0) {
                lastUpdate = latestUpdate;
            } else if (latestUpdate > lastUpdate) {
                window.location.reload();
            }
        }
        setInterval(checkForUpdates, 1000);
    </script>
</body>
</html>
