<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Astrobid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <div class="header">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Astrobid Logo" style="max-height: 80px; width: auto; margin-bottom: 1rem;">
            <a href="/login" class="logout-btn">Login</a>
        </div>

        <div class="card">
            <h2>Welcome to the Ultimate Intergalactic Auction Experience!</h2>
        </div>

        <div class="card">
            <h2>Rules of the Auction</h2>
            <ul>
                <li>Each team starts with 100,000 credits.</li>
                <li>Planets are put up for auction one at a time and bid is incremented by the auctioneer.</li>
                <li>The highest bidder at the end of the auction wins the planet.</li>
                <li>Each planet has its own hidden value</li>
                <li>In order to win, one must have at least 2 planets and highest score</li>
                <li>Score is calculated by adding the profit from each planet and BeeJays left in account</li>
                <li>ALL THE BEST</li>
            </ul>
        </div>

    </main>
</body>
</html>
